.mainHeader{
    background-color: #292929;
    color: white;
    text-align: center;
    height: 70px;
    font-size: 40px;
}
.left{
    background-color: #f8f6f6;
    width: 400px;
    height: calc(100vh - 70px);
    float: left;
    margin-right: 20px;
}
.searchArea{
    margin-left: 20px;
    padding-top: 20px;
    margin-bottom: 15px;
}
.history{
    cursor: pointer;
    width: 325px;
    margin-left: 20px;
}
.weatherBox{
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}
.forecast{
    display: flex;
    justify-content: space-between;
    margin-right: 20px;
    margin-top: 10px;
}
.day{
    background-color: lightblue;
    width: 150px;
    height: 200px;
    display: block;
}
p1{
    display: block;
    margin-top: 20px;
}
p2{
    display: block;
    margin-bottom: 10px;
}
